body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #ff9a9e, #fad0c4);
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
}
.val{
  font-size: 3.5rem;
  margin-top: 10px;
  font-style: italic;
  
}
.buttons {
  margin-top: 20px;
}

button {
  padding: 12px 24px;
  margin: 10px;
  font-size: 1.1rem;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.yes {
  background-color: #ff4d6d;
  color: white;
}

.no {
  background-color: #6c757d;
  color: white;
}
